[core]
	editor = vi
	#pager = delta --dark

[interactive]
	diffFilter = delta --color-only

[diff]
	color = true
[user]
	name = JLarky
	email = jlarky@gmail.com
	signingkey = 1493E127

[alias]
	fast-fix = !"git diff && read -p \"ready to commit?\" i && git commit -a && git push"
	ll = status
	dif = diff --no-prefix
	di = "!GIT_PAGER='delta --dark --theme=\"Monokai Extended\"' git diff"
	dii = diff --no-prefix --ignore-all-space
	dis = diff --stat
	idd = log --pretty=format:\"%h %Cgreen%B\"
	id = log -1 --pretty=format:\"%h %Cgreen%B\"
	hist = log --pretty=format:\"%h %ad [%an] %s%d\" --graph --date=short --all
	grepn = grep -n
	rc = rebase --continue
	MR = "!f() { \
	  git log --reverse --merges --pretty=format:%b HEAD ${1-^HEAD~30} | sed 's/See merge request .*\\!/ \\!/g' | grep -v Closes | awk NF | awk '{printf (NR%2==0) ? $0 "\"\\n\"" : "\"* \"" $0 }' | less -FX; \
	}; f"
	DeleteBranches = "!f() { \
      for var in $@; do BRANCH=$(echo $var | sed 's/^origin\\///'); git show-ref --verify --quiet "refs/heads/$BRANCH" && git branch -d "$BRANCH"; done \
	}; f"

[branch "master"]
	remote = origin
	merge = refs/heads/master
[giggle]
	main-window-maximized = true
	main-window-geometry = 700x550+572+404
	show-graph = true
	file-view-vpane-position = 526
	main-window-view = FileView
	history-view-vpane-position = 695
[color]
	ui = true
[diff "word"]
	textconv = strings
[push]
	default = simple
[pull]
	rebase = true
