[diff "hex"]
    textconv = hexdump -v -C
    binary = true

[core]
	editor = /opt/homebrew/bin/nvim
	#pager = delta --dark

[pager]
	diff = delta --dark --theme=\"Monokai Extended\"

[interactive]
	diffFilter = delta --color-only

[diff]
	color = true
[user]
	name = JLarky
	email = jlarky@gmail.com
	signingkey = 1493E127

[alias]
	fast-fix = !"git diff && read -p \"ready to commit?\" i && git commit -a && git push"
	ll = status
	di = diff
	dii = diff --ignore-all-space
	dif = !"git -p diff --no-prefix"
	dis = diff --stat
	idd = log --pretty=format:\"%h %Cgreen%B\"
	id = log -1 --pretty=format:\"%h %Cgreen%B\"
	hist = log --pretty=format:\"%h %ad [%an] %s%d\" --graph --date=short --all
	grepn = grep -n
	TigSwitch = "!f() { \
	  if [ \"$1\" = \"HEAD\" ]; then \
		git show-branch main && git switch -m main || git switch -m master; \
	  else \
	    git switch -m $1; \
	  fi; \
	}; f"
	ri = !"git show-branch origin/main && git rebase origin/main -i --autosquash --autostash || git rebase origin/master -i --autosquash --autostash"
	rc = rebase --continue
	cm = commit -m
	MR = "!f() { \
	  git log --reverse --merges --pretty=format:%b HEAD ${1-^HEAD~30} | sed 's/See merge request .*\\!/ \\!/g' | grep -v Closes | awk NF | awk '{printf (NR%2==0) ? $0 "\"\\n\"" : "\"* \"" $0 }' | less -FX; \
	}; f"
	DeleteBranches = "!f() { \
      for var in $@; do BRANCH=$(echo $var | sed 's/^origin\\///'); git show-ref --verify --quiet "refs/heads/$BRANCH" && git branch -d "$BRANCH"; done \
	}; f"

[branch "master"]
	remote = origin
	merge = refs/heads/master
[giggle]
	main-window-maximized = true
	main-window-geometry = 700x550+572+404
	show-graph = true
	file-view-vpane-position = 526
	main-window-view = FileView
	history-view-vpane-position = 695
[color]
	ui = true
[diff "word"]
	textconv = strings
[push]
	default = current
[pull]
	rebase = true
[init]
	defaultBranch = main
