*~
*.pyc
sublime-text-2/Settings/*.sublime_session
sublime-text-2/Settings/License.sublime_license
sublime-text-2/Packages/User/Package Control.last-run
*.sublime-package
sublime-text-2/pjcts/*.sublime-workspace

Code/User/globalStorage/
Code/User/workspaceStorage/
Code/User/sync/
Code/User/History/

bins/nrm/nrm
